html{
  font-size:62.5%;
  margin:0;
  padding:0;
}
body{
  font-size:1.6rem;
  margin:0;
  padding:0;
  background-color: #c77dff;
  font-family: 'Public Sans', sans-serif;
}

/* ==================================LOGIN CONTAINER=============================== */
.login-container{
  background-color: #fff;
  width:50%;
  margin:10em auto;
  padding:2em 2em;
  text-align: center;
  border-radius: 5px;
}
.login-container input{
    padding:1em 1em;
    border-radius: 5px;
    outline:none;
    border:1px solid #dee2e6;
    font-family: 'Public Sans', sans-serif;
    font-size:1.5rem;
}
::placeholder{
  font-family: 'Public Sans', sans-serif;
  font-size:1.5rem;
}
.input-name-container{
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:50%;
  margin:0 auto;
}
.input-name-container button{
  padding:1em 1em;
  background-color: #007200;
  border:none;
  outline:none;
  color:#fff;
  border-radius: 5px;
  cursor:pointer;
  font-family: 'Public Sans', sans-serif;
  /* pointer-events: none; */
}

/* ==============================QUESTIONS CONTAINER============================= */
.question-container{
  background-color: white;
}
